---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Portfolio from "../components/Portfolio.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

const projects = [
  {
    title: "Sitio web para negocio de Hojalateria",
    desc: "Sitio web corporativo desarrollado para una empresa de hojalatería y fabricación de extractores eólicos. Incluye diseño responsive, optimización visual y elementos interactivos para mejorar la presentación de los servicios",
    img: "/assets/projects/hojalateria-project.png",
    technologies: ["HTML", "CSS", "JavaScript"],
    demo: "",
    github: "",
  },
  {
    title: "Chuck Norris Quote Generator",
    desc: "Aplicación web que consume una API pública para mostrar frases aleatorias. Implementa peticiones HTTP, manipulación dinámica del DOM y diseño responsive.",
    img: "/assets/projects/chuck-api.png",
    technologies: ["HTML", "CSS", "JavaScript"],
    demo: "",
    github: "",
  },
];
---

<BaseLayout title="FranDev | Portfolio Web.">
  <main>
    <Hero />
    <About />
    <Services />
    <section
      id="portfolio"
      class="fade-in max-w-5xl mx-auto px-6 py-16 fade-up-delay-1 scroll-mt-24"
    >
      <h2 class="text-3xl font-bold text-center mb-14 text-primary">
        Portfolio
      </h2>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 fade-up-delay-2"
      >
        {
          projects.map((project) => (
            <Portfolio
              title={project.title}
              desc={project.desc}
              img={project.img}
              technologies={project.technologies}
              demo={project.demo}
              github={project.github}
            />
          ))
        }
      </div>
    </section>
    <Contact />
    <Footer />
  </main>
</BaseLayout>
